/*basic style*/
* {
  box-sizing: border-box;
  font-family: Helvetica;
  font-weight: bold;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 175%;
}

section {
  position: relative;
  padding: 15px;
  width: 100%;
}

p {
  position: relative;
  clear: right;
}

div {
  position: relative;
  background-color: lightgray;
  border: 1px solid black;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.sec1 {
  float: right;
  width: 150px;
  padding: 5px;
  margin: 0px;
  border: 1px solid black;
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  background-color: pink;
}

.sec2 {
  float: right;
  color: white;
  width: 150px;
  padding: 5px;
  margin: 0px;
  border: 1px solid black;
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  background-color: brown;
}

.sec3 {
  color: black;
  float: right;
  width: 150px;
  padding: 5px;
  margin: 0px;
  border: 1px solid black;
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  background-color: khaki;
}

.content {
  padding: 5px;
  border: none;
  background-color: lightgray;
  color: black;
  margin: 0px;
  height: 150px;
  overflow: auto;
}

.row {
  width: 90%;
}

/*desktop version*/
@media (min-width: 992px) {
  .column-lg-4 {
    float: left;
    width: 33.33%;
  }
}

/*tablet version*/
@media (min-width: 768px) and (max-width: 991px) {
  .colmn-md-6 {
    float: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .colmn-md-12 {
    float: left;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

/*mobile version*/
@media (max-width: 767px) {
  .colmn-sm-12 {
    float: left;
    width: 100%;
  }
}
